<!DOCTYPE html>
<html>
<head>
  {%load static%}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <header class="header">
    <div class="logo">
  <img src="{% static 'img/logo.svg' %}" alt="Kodely Logo" class="logo-img">
</div>
    <div class="header-actions">
      <a class= "create-account"href="#">Iniciar Sesión</a>
      <button class="create-account">Crear Cuenta</button>
    </div>
  </header>

  <main class="container">

    <h2>Últimos posts</h2>

    {% for post in posts %}
      <div class="post-card">
        <div class="user-info">
          <div class="avatar"></div>
          <div class="user-details">
            <div><strong>{{ post.author.name }}</strong></div>
            <div>{{ post.created_at|date:"M d" }}</div>
          </div>
        </div>
        <div class="post-title">
          <a class="post-link" href="{% url 'ver_post' post.id %}">{{ post.title }}</a>
        </div>
        <div class="reactions">5 Reacciones</div>
      </div>
    {% empty %}
      <p class="empty-msg">No hay posts aún.</p>
    {% endfor %}
  </main>
</body>
</html>
